{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "no-unsafe-finally": "off",
    "react/jsx-uses-react": 2
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ]
}
